
  /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body{
      text-align: center;
    }
      .nav1 a p{
        margin-right: 40%;
       }

       .john{
         width: 100%;
       }
       .b1{
         width: auto;
       }
       .b2{
         width: 120px;
         margin-left: -10%;
       }

    }
    
 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .nav1 a p{
    margin-right: 40%;
   }
   .john{
    width: 100%;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
  body{
    text-align: center;
  }
  .john{
    width: 100%;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  body{
    text-align: center;
  }
 
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  body{
    text-align: center;
  }
  
 
}